footer
  padding 60px 0
  text-align center
  background-image linear-gradient(to bottom, #0163b4, #01305a), linear-gradient(#1f5b8c, #1f5b8c)

  & span
    font-family $font-sansPro
    font-size 14px
    font-weight 300
    text-align center
    color #4081b3