nav
  transition: margin-top 0.3s;
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
  background-image linear-gradient(to bottom, #0163b4, #01305a), linear-gradient(#1f5b8c, #1f5b8c)
  margin-top -100vh

.nav
  &-logo
    display block
    float left
    background url("../i/svg/logo.svg") no-repeat center
    background-size 100%
    color #fff
    text-indent -3000px
    width 230px
    line-height 72px

  &-list
    list-style-type: none;
    float right
    line-height 170px
    display none

  &-item
    float left

  &-link
    display inline-block
    line-height 31px
    margin 0 30px
    font-size 19px
    font-family $font-varelaRound
    color #54acee
    text-decoration none

    &:hover,
    &:active,
    &.active
      color #fff
      border-bottom  1px solid #ffffff

.nav-mobile__sandwich

  position relative
  height 72px
  width 30px
  display block
  float right

  & *
    transition all 0.3s
    box-sizing border-box

  & input[type=checkbox]
    display none

    &:checked ~ .mobile-sandwich
      & .horizontal
        opacity 0

      & .diagonal.part-1
        transform rotate(135deg)
        margin-top 10px

      & .diagonal.part-2
        transform rotate(-135deg)
        margin-top -13px

  & label
    cursor pointer
    position absolute
    z-index 99
    width 100%
    top: 50%;
    transform: translateY(-50%);
    left 0

    & .sandwich
      position absolute
      height 3px
      width 100%
      border-radius 2px
      background-color #fff

    & .diagonal.part-1
      position relative
      float left

    & .horizontal
      position relative
      float left
      margin-top 7px

    & .diagonal.part-2
      position relative
      float left
      margin-top 6px

.show-mob-nav
  z-index 1
  margin-top 0

  .nav
    &-list
      display flex
      flex-direction column
      flex-wrap wrap
      justify-content center
      align-content stretch
      align-items center
      float none
      line-height normal
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      margin 0

    &-item
      float none
      text-align center

    &-link
      font-family $font-varelaRound
      font-size 30px
      line-height 1
      color #ffffff
      border-bottom 0
      margin-bottom 40px

@media (min-width: 1024px)
  nav
    position static
    margin-top 0
    background none
    width auto
    height auto

@media (min-width: 1200px)

  .nav,
  .show-mob-nav .nav

    &-list
      list-style-type: none;
      float right
      line-height 170px
      display block
      position static

    &-item
      float left

    &-link
      display inline-block
      line-height 31px
      margin 0 30px
      font-size 19px
      font-family $font-varelaRound
      color #54acee
      text-decoration none

      &:hover,
      &:active,
      &.active
        color #fff
        border-bottom  1px solid #ffffff

    &-logo
      line-height 170px
      margin-left 0

  .nav-mobile__sandwich
    display none